<section class="section"></section>
<div class="container">
  <div class="columns">
    <div class="column is-2">
      <ul class="menu-list">
        <li><a href="/profile/">Профиль</a></li>
        <li><a class="is-active" href="/profile/watchlist">Список отслеживания</a></li>
        <li><a href="/profile/ratings">Рейтинги</a></li>
      </ul>
    </div>

    <div class="column is-10">
      <div class="carder photo-container">
        <img src="https://bulma.io/images/placeholders/256x256.png" id="img-preview" />
        <label class="file-upload-container" for="file-upload">
          <input id="file-upload" type="file" style="display:none;">
          Select an Image
        </label>
      </div>
      <h1>Имя: {{user.username}}</h1>
      <h1>Email: {{user.email}}</h1>
    </div>
  </div> 
</div>
