<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HorrorNight</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/css/style.css">

  {{#if isSignup}}
  <script defer src="/js/signup.js"></script>
  {{/if}}
  {{#if isSignin}}
  <script defer src="/js/signin.js"></script>
  {{/if}}
  {{#if isModal}}
  <script defer src="/js/modal.js"></script>
  {{/if}}
  {{#if isTrack}}
  <script defer src="/js/trackFilm.js"></script>
  {{/if}}
  {{#if isProfile}}
  <script defer src="/js/profile.js"></script>
  {{/if}}

  <script defer src="/js/application.js"></script>

</head>
<body>
  <div class="container">
  <nav class="navbar " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/">
        <img class="nav-logo" src="/img/mask.png">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Фильмы
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Больше
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              О нас
            </a>
            <a class="navbar-item">
              Контакты
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Сообщить об ошибке
            </a>
          </div>
        </div>
      </div>

      <form class="is-flex is-align-content-center" id="searchForm" action="/search">
        <div class="navbar-item">
          <div class="field has-addons">
            <div class="control">
              <input name="film" class="input" type="text" placeholder="Найти фильм">
            </div>
            <div class="control">
              <button class="button" type="submit">Поиск</button>
            </div>
          </div>
        </div>
      </form>
      <div class="pageloader"><span class="title"></span></div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {{#if username}}
            <a class="button is-white" href="/profile/watchlist">
              Hello, {{username}}!
            </a>
            <a class="button is-danger is-light is-rounded" href="/logout">
              Log out
            </a>
            {{else}}
            <a class="button is-danger is-rounded" href="/signup">
              <strong>Sign up</strong>
            </a>
            <a class="button is-danger is-light is-rounded" href="/signin">
              Log in
            </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </nav>
  </div>

  {{!-- <div class="container"> --}}

  {{{body}}}

  {{!-- </div> --}}

</body>
</html>
